.fas.fa-times {
    display: none;
  }
  
  .fas.fa-times.comment {
    display: block;
  }
  
  .overWrittenCells:hover .fas {
    display: block;
  }
  
  .innerCells {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .innerCells.comment {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  
  table {
    width: 100%;
    white-space: nowrap !important;
  }
  
  table td {
    position: relative;
  }
  
  i {
    cursor: pointer;
  }
  
  .legendColorBox {
    margin: 0.4%;
    float: left;
    height: 20px;
    width: 30px;
    border: 1px solid grey;
    margin-right: 4%;
  }
  
  .inputBox {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    border: 0;
    text-transform: uppercase !important;
  }
  
  .inputBoxOverWritten {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    border: 0;
    width: 80px;
    text-transform: uppercase !important;
    background: none !important;
  }
  
  .overWrittenCells {
    border: 2px solid rgb(194, 1, 1);
  }
  
  .overWrittenCells input {
    outline: 0;
  }
  
  input::placeholder {
    color: black;
  }
  
  input:focus::-webkit-input-placeholder {
    color: grey;
  }
  
  input[disabled] {
    cursor: text;
    background-color: inherit;
    color: black;
  }
  
  .legend-labels {
    white-space: nowrap !important;
    padding: 0%;
    display: flex;
    list-style-type: none;
    margin-bottom: 5px;
  }
  
  .legend-labels li {
    font-size: small;
    margin-right: 2%;
  }
  
  select {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    border: 0;
  }
  
  table tr td:not(.skip),
  table tr th {
    text-align: center;
  }
  
  td,
  th {
    padding: 2px !important;
    width: 100px;
    border: 1px solid black;
  }
  
  .reference {
    width: 1%;
    background-color: #00b0f0;
  }
  
  .released {
    width: 1%;
    background-color: #7fff00;
  }
  
  .partial {
    width: 1%;
    background-color: #ffa500;
  }
  
  .tentative {
    width: 1%;
    background-color: #dcdcdc;
  }
  
  .planned {
    width: 1%;
    background-color: #82ffac;
  }
  
  .hideBar {
    list-style: none;
    display: flex;
    align-items: center;
    
  }
  
  .productColumn {
    width: 27%;
    background-color: white;
  }
  
  .checkbox {
    list-style: none;
    display: flex;
  }
  
  .checkbox label {
    margin-left: 10px;
  }
  
  .redActual {
    width: 1%;
    color: red;
    background-color: #dcdcdc;
  }
  
  .width10 {
    width: 6%;
    /* white-space: nowrap !important; */
  }
  
  .width1 {
    width: 1%;
    /* white-space: nowrap !important; */
  }
  
  .status-launched td{
    background-color: #a8ff51;
  }
  
  .status-discontinued td{
    background-color: #ff2c2c;
  }
  
  .status-announced td{
    background-color: yellow;
  }
  
  .headings{
    background-color: rgba(156, 165, 172, 0.141);
    font-family: Arial, Helvetica, sans-serif;
    
  }
  
  .menu{
    padding: 10px;
    height: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%
  }
  .right-aligned {
    float: right;
  }
  
  
  ul.pagination {
      display: inline-block;
      padding: 10;
      margin: 10;
  }
  ul.pagination li {display: inline;}
  ul.pagination li a {
      color: black;
      float: left;
      padding: 8px 16px;
      text-decoration: none;
  }
  .page-number {
    margin: 5px;
  }
  
  .active {
    background-color: rgb(190, 190, 190);
  }
  