table {
  border-collapse: collapse;
}


input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin-right: 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 5px;
  margin-left: auto;
  max-width: 200px;
  max-height: 15px;
  
}